<link href="//fonts.googleapis.com/css?family=Lato|Roboto+Slab" rel="stylesheet">
<div class="container fluid">
    <h1>About us</h1>
    <p>This is a fake webpage meant to deliver fake content to fake viewers in order
    to better my skills as a web developer. Thanks!</p>
</div>