@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
}

.navbar, .home-callout {
// gradient provided by @uiGradients.com
background: #2C3E50; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C3E50 , #4CA1AF); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C3E50 , #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
    border: none;
    color: white;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a{
    color: white;
    &:hover {
        color: white;
        opacity: 0.75;
    }
}

.home-callout {
    color: whitesmoke;
    margin-top: -20px;
    padding: 100px 0;
}