@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

h2, h3, h5 {
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-family: 'Lato', sans-serif;
}

.navbar, .home-callout {
// gradient provided by @uiGradients.com
background: #2C3E50; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C3E50 , #4CA1AF); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C3E50 , #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
    border: none;
    color: white;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a{
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    &:hover {
        color: white;
        opacity: 0.75;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle {
    background-color: #2C3E50;
    border: 2px solid white;
    &:hover, &:focus {
        background-color: #4CA1AF;
        opacity: 0.25;
    }
}

.home-callout {
    color: whitesmoke;
    margin-top: -20px;
    padding: 100px 0;
}